.button {
    width: clamp(10rem, 10vw, 20rem);
    height: 3rem;
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--primary-color-shadow);
    transition: 0.3s;
    cursor: pointer;
}

.primary
{
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.primary:hover
{
    background-color: var(--primary-color-pressed);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.secondary
{
    background-color: var(--secondary-color);
    color: #FFFFFF;
}