.navbar
{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.option:hover
{
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}