.doctors
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);

    padding: 2rem 0;
}

.doctorsTitle
{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    font-weight: 600;
    margin-bottom: 2rem;
    color: #FFFFFF;
}

.doctorsContent
{
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 2vw, 3rem);
}